<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Smart home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: center;">Monitoramento de parâmetros</p>
  <p style="text-align: center;">
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" (click)="goToTempPage()">
        <ion-icon name='thermometer' color="primary">
        </ion-icon> Temperatura
      </ion-card-content>
    </ion-card>
  </p>

  <p style="text-align: center;">
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" (click)="goToLumPage()">
        <ion-icon name='sunny' color="primary">
        </ion-icon> Luminosidade
      </ion-card-content>
    </ion-card>
  </p>

  <p style="text-align: center;">
    <ion-card>
      <ion-card-content style="text-align: center; font-size: 2rem;" (click)="goToHumidityPage()">
        <ion-icon name='cloudy' color="primary">
        </ion-icon> Umidade
      </ion-card-content>
    </ion-card>
  </p>
</ion-content>